@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
div.stocks {
  background-image: url("../../images/search-bg.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.stocks * {
  font-family: 'Montserrat', sans-serif;
}

div.stocks div.content {
  padding: 2rem;
  height: 60%;
  backdrop-filter: blur(2px);
  width: 80%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.stocks div.content h1 {
  color: white;
  font-size: 2.3rem;
  font-weight: 900;
}

div.stocks div.content div.search {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.stocks div.content div.search input {
  font-size: 1rem;
  max-width: 300px;
  width: 100%;
  padding: 12px 30px;
  border-radius: 20px;
  outline: none;
  border: none;
}

div.stocks div.content div.search input:focus {
  outline: none;
  border: none;
}

div.stocks div.content div.search input::placeholder {
  color: black;
}

@media screen and (min-width: 769px) {
  div.stocks div.content div.search input {
    max-width: 450px;
  }
}

div.stocks div.content div.search-results {
  border-radius: 10px;
  max-width: 450px;
  margin-top: 1rem;
  width: 100%;
  background-color: white;
}

div.stocks div.content div.search-results div.stock-prev {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
}
